* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="mail"],
input[type="url"],
input[type="password"],
textarea,
button {
    appearance: none;
}

:root {
    --clr-bg-main: hsl(0 0% 10%);
    --clr-fg-main: hsl(0 0% 100%);
    --clr-bg-button: hsl(0 0% 20%);
    --clr-bg-button-active: hsl(0 0% 18% / 0.6);
    --clr-bg-header: hsl(0 0% 10% / 0.8);
    --clr-bg-header-border: hsl(0 0% 20% / 0.8);
    --clr-accent: hsl(222 83.2% 63.1%);
}

body {
    background-color: var(--clr-bg-main);
    color: var(--clr-fg-main);
    font-family: "JetBrains Mono", monospace;
}

.header {
    position: sticky;
    top: 0;
    padding: 0.8rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
        90deg,
        var(--clr-bg-header) 60%,
        var(--clr-bg-header-border)
    );
    backdrop-filter: blur(4pt);
    border-bottom: 1pt solid var(--clr-bg-header-border);
    border-radius: 0 0 12pt 12pt;
    box-shadow: 1pt 1pt 20pt var(--clr-bg-main);
}

.header__buttons-wrapper {
    display: flex;
    gap: 1rem;
}

.header__button  {
    border: none;
    background-color: var(--clr-bg-button);

    .button-icon {
        fill: var(--clr-fg-main);
    }

    &.circle-button {
        padding: 0.5rem;
        aspect-ratio: 1;
        border-radius: 50%;
        display: flex;
    }
}

.header__button:hover {
    background-color: var(--clr-bg-header-border);
    box-shadow: 1pt 1pt 5pt var(--clr-bg-main);

    .button-icon {
        fill: var(--clr-accent);
    }
}

.header__button:active {
    background-color: var(--clr-bg-button-active);
    box-shadow: 1pt 1pt 1pt var(--clr-bg-main);
}

.hero {
    padding-block: 3rem 1rem;
    padding-inline: 1.5rem;
    min-height: 100vh;
    background: center / cover no-repeat url("./assets/hero-bg-portrait.jpg");
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero__banner {
    font-size: 2.0rem;
    font-weight: 700;
    text-transform: capitalize;
}

.hero__banner-sub-text {
    font-size: 0.9rem;
}

.hero__button {
    --buttons-radius: 5rem;
    padding-block: 0.8rem;
    padding-inline: 1.5rem;
    border: none;
    font-size: 1.0rem;
    font-weight: 600;
    background-color: var(--clr-bg-main);
    color: var(--clr-fg-main);
    transition:
        background-color 300ms linear,
        color 200ms linear;

    &.round-button {
        border-radius: var(--buttons-radius);
    }

    &.bg-less-button {
        background-color: transparent;
    }
}

.hero__button:hover {
    color: var(--clr-bg-main);
    background-color: var(--clr-fg-main);
}
