* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="mail"],
input[type="url"],
input[type="password"],
textarea,
button {
    appearance: none;
}

:root {
    --clr-bg-main: hsl(0 0% 10%);
    --clr-fg-main: hsl(0 0% 100%);
    --clr-accent: hsl(292 93.2% 83.1%);
}

body {
    background-color: var(--clr-bg-main);
    color: var(--clr-fg-main);
    font-family: "JetBrains Mono", monospace;
}

.header {
    --clr-bg-header: hsl(0 0% 10% / 0.0);
    --clr-bg-header-border: hsl(0 0% 20% / 0.0);
    --clr-bg-button: hsl(0 0% 20% / 0.0);
    --clr-bg-button-active: hsl(0 0% 18% / 0.0);
    --transition-delay: 300ms;

    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-bg-header);
    border-bottom: 1pt solid var(--clr-bg-header-border);
    border-radius: 0 0 12pt 12pt;
    transition:
        background-color var(--transition-delay) ease,
        box-shadow var(--transition-delay) ease;

    &.scrolled {
        --clr-bg-header: hsl(0 0% 10% / 0.8);
        --clr-bg-header-border: hsl(0 0% 20% / 0.8);
        --clr-bg-button: hsl(0 0% 20%);
        --clr-bg-button-active: hsl(0 0% 18% / 0.6);

        backdrop-filter: blur(4pt);
        box-shadow: 1pt 1pt 20pt var(--clr-bg-main);
    }
}

.header__buttons-wrapper {
    display: flex;
    gap: 1.0rem;
}

.header__button  {
    border: none;
    background-color: var(--clr-bg-button);
    transition:
        background-color var(--transition-delay) ease,
        box-shadow var(--transition-delay) ease;

    .button-icon {
        fill: var(--clr-fg-main);
    }

    &.circle-button {
        padding: 0.5rem;
        aspect-ratio: 1;
        border-radius: 50%;
        display: flex;
    }
}

.header.scrolled .header__button:hover {
    background-color: var(--clr-bg-header-border);
    box-shadow: 1pt 1pt 5pt var(--clr-bg-main);
}

.header__button:hover .button-icon {
    fill: var(--clr-accent);
}

.header.scrolled .header__button:active {
    background-color: var(--clr-bg-button-active);
    box-shadow: 1pt 1pt 1pt var(--clr-bg-main);
}

.hero {
    padding-block: max(30%, 5rem);
    padding-inline: 1.5rem;
    background: center / cover no-repeat url("./assets/hero-bg-portrait.jpg");
    display: flex;
    flex-direction: column;
    gap: 2.0rem;
}

.hero__banner {
    font-size: 2.0rem;
    font-weight: 700;
    text-transform: capitalize;
}

.hero__banner-sub-text {
    font-size: 0.9rem;
}

.hero__button {
    --buttons-radius: 5.0rem;

    padding-block: 0.8rem;
    padding-inline: 1.5rem;
    border: none;
    font-size: 1.0rem;
    font-weight: 600;
    background-color: var(--clr-bg-main);
    color: var(--clr-fg-main);
    transition:
        background-color 300ms linear,
        color 200ms linear;

    &.round-button {
        border-radius: var(--buttons-radius);
    }

    &.bg-less-button {
        background-color: transparent;
    }
}

.hero__button:hover {
    color: var(--clr-bg-main);
    background-color: var(--clr-fg-main);
}

.reveal-animated {
    opacity: 0.0;
    transition: opacity 1s ease-in-out;

    &.-revealed {
        opacity: 1.0;
    }
}
