* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="mail"],
input[type="url"],
input[type="password"],
textarea,
button {
    appearance: none;
}

:root {
    --clr-bg-main-darker: hsl(0 0% 0%);
    --clr-bg-main: hsl(0 0% 10%);
    --clr-bg-main-lighter: hsl(0 0% 20%);
    --clr-fg-main: hsl(0 0% 100%);
    --clr-accent: hsl(292 93.2% 83.1%);
    --transition-fast: 200ms;
    --transition-slow: 500ms;
    --transition-default: 300ms;
}

body {
    background-color: var(--clr-bg-main);
    color: var(--clr-fg-main);
    font-family: "JetBrains Mono", monospace;
}


.header {
    --clr-bg-header: hsl(0 0% 10% / 0.0);
    --clr-bg-header-border: hsl(0 0% 20% / 0.0);
    --clr-bg-button: hsl(0 0% 20% / 0.0);
    --clr-bg-button-active: hsl(0 0% 18% / 0.0);
    --header-shadow-basic: 1pt 1pt 20pt var(--clr-bg-main);
    --header-border-radius: 0 0 12pt 12pt;

    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-bg-header);
    border-bottom: 1pt solid var(--clr-bg-header-border);
    border-radius: var(--header-border-radius);
    transition:
        border-radius var(--transition-default) ease,
        background-color var(--transition-default) ease,
        box-shadow var(--transition-default) ease;

    &:not(:has(.header__menu.closed)),
    &.scrolled {
        --clr-bg-header: hsl(0 0% 10% / 0.8);
        --clr-bg-header-border: hsl(0 0% 20% / 0.8);
        --clr-bg-button: hsl(0 0% 20%);
        --clr-bg-button-active: hsl(0 0% 18% / 0.6);

        backdrop-filter: blur(4pt);
        box-shadow: var(--header-shadow-basic);
    }

    &:not(:has(.header__menu.closed)) {
        border-radius: 0;
        box-shadow: none;
    }
}

.header__buttons-wrapper {
    display: flex;
    gap: 1.0rem;
}

.header__button  {
    border: none;
    background-color: var(--clr-bg-button);
    transition:
        background-color var(--transition-default) ease,
        box-shadow var(--transition-default) ease;

    .button-icon {
        fill: var(--clr-fg-main);
    }

}

.header.scrolled .header__button:hover {
    background-color: var(--clr-bg-header-border);
    box-shadow: 1pt 1pt 5pt var(--clr-bg-main);
}

.header__button:hover .button-icon {
    fill: var(--clr-accent);
    transform: scale(1.2);
}

.header.scrolled .header__button:active {
    background-color: var(--clr-bg-button-active);
    box-shadow: 1pt 1pt 1pt var(--clr-bg-main);
}

.header__menu {
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 0;
    transition:
        transform var(--transition-default) linear,
        background-color var(--transition-default) ease;
    transform: translateY(0);
    width: 100%;

    &.closed {
        transform: translateY(-200%);
    }

    .header__menu--inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
}

.header__menu--item {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1pt solid var(--clr-bg-header-border);
    background-color: var(--clr-bg-header);

    &:not(:first-child) {
        border-top-color: transparent;
    }

    &:last-child {
        border-radius: var(--header-border-radius);
        box-shadow: var(--header-shadow-basic);
    }

    & a {
        text-decoration: none;
        color: inherit;
    }
}


.hero {
    padding-block: max(30%, 5rem);
    padding-inline: 1.5rem;
    background: center / cover no-repeat url("./assets/hero-bg-portrait.jpg");
    display: flex;
    flex-direction: column;
    gap: 2.0rem;
}

.hero__banner {
    font-size: 2.0rem;
    font-weight: 700;
    text-transform: capitalize;
}

.hero__banner-sub-text {
    font-size: 0.9rem;
}

.hero__button {
    padding-block: 0.8rem;
    padding-inline: 1.5rem;
    border: none;
    font-size: 1.0rem;
    font-weight: 600;
    background-color: var(--clr-bg-main);
    color: var(--clr-fg-main);
    transition:
        background-color var(--transition-default) linear,
        color var(--transition-fast) linear;
}

.hero__button:hover {
    color: var(--clr-bg-main);
    background-color: var(--clr-fg-main);
}

.separator__item {
    background-color: var(--clr-bg-main-lighter);
    padding-block: 0.5rem;
    padding-inline: 2rem;
    text-wrap: nowrap;
    flex-shrink: 0;
    box-shadow: 2pt 2pt 5pt var(--clr-bg-main);
}

.main-content-block {
    padding-block: 0.5rem;
    padding-inline: 1.5rem;

    & h2 {
        text-align: center;
        font-style: italic;
        font-size: 2.0rem;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
    }

    .main-content--emphasis {
        color: var(--clr-accent);
        font-size: 2.2rem;
    }

    &:last-of-type {
        margin-bottom: 5rem;
    }
}

.main-content--list {
    margin: 1.5rem 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.main-content--list-item {
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--clr-bg-main-lighter);
    box-shadow: 2pt 2pt 20pt -5pt var(--clr-bg-main-darker);
}

.main-content--list-bullet {
    display: grid;
    place-items: center;
    border-radius: 50%;
    width: 1rem;
    aspect-ratio: 1;
    background-color: var(--clr-bg-main);
    border: 1pt solid var(--clr-accent);

    &::after {
        content: "";
        width: 60%;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--clr-accent);
    }
}

.main-content--box {
    margin: 1.5rem 0;
    width: 100%;
    aspect-ratio: 1.3;
    background-color: var(--clr-bg-main-lighter);
    border-radius: 6pt;
    box-shadow: 1pt 1pt 20pt -5pt var(--clr-bg-main-darker);
}

.testimonial__item {
    display: grid;
    place-items: center;
    grid-template-areas:
        "quote quote"
        ".     author";
    padding-block: 1.5rem;
    padding-inline: 2.5rem;
    min-height: 8rem;
    text-wrap: nowrap; /* Here's hoping I don't make the text _too_ long */
    background-color: var(--clr-bg-main-lighter);
    border-radius: 6pt;
    box-shadow: 1pt 1pt 10pt -2pt var(--clr-bg-main-darker);
}

.testimonial__quote {
    grid-area: quote;

    &::before {
        content: "“";
    }
    &::after {
        content: "”";
    }
}

.testimonial__author {
    color: var(--clr-accent);
    grid-area: author;

    &::before {
        content: "⸺ ";
    }
}

.reveal-animated[data-extra-animations="true"] {
    opacity: 0.0;
    transform: translate(var(--_translate-x, 1%), var(--_translate-y, 1%));
    transition:
        opacity 1s ease-in-out,
        transform var(--transition-slow) ease-in-out;

    &.-slide-in {
        --_translate-x: -50%;
        --_translate-y: 0%;
    }

    &.-popout {
        transform: scale(0.5);
    }

    &.-revealed {
        opacity: 1.0;
        transform: none;
    }

}

.scroller-wrapper {
    display: flex;
    justify-content: center;
}

.infinite-scroller {
    padding: 0.5rem;
    max-width: 700px;

    .scroller__inner {
        --_item-gap: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: var(--_item-gap);
        width: fit-content;
        list-style: none;
    }
}

.infinite-scroller[data-extra-animations="true"] {
    --_animation-duration: 15s;

    overflow: hidden;
    mask: linear-gradient(
        90deg,
        transparent,
        white 20%, white 80%,
        transparent
    );

    &.-reverse {
        --_animation-direction: reverse;
    }

    .scroller__inner {
        flex-wrap: nowrap;
        animation: infinite-scroll var(--_animation-duration, 10s)
                   var(--_animation-direction, forwards) infinite linear;
    }
}

@keyframes infinite-scroll {
    to {
        transform: translateX(calc(-50% - var(--_item-gap) / 2));
    }
}


.footer {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer__contact-item {
    display: flex;
    gap: 0.8rem;
    font-weight: normal;
    font-size: 1rem;

    .button-icon {
        width: 1.5rem;
        fill: var(--clr-fg-main);
    }
}

.footer__copyright {
    font-size: 0.9rem;
}

.footer__contact,
.footer__follow {
    font-size: 1.1rem;
    font-weight: 600;
}

.footer__follow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__contact-list,
.footer__follow-link-list {
    list-style: none;
    & a {
        text-decoration: none;
        color: inherit;
    }
}

.footer__follow-link-list {
    display: flex;
    gap: 1rem;
}

.footer__follow-link .button-icon {
    min-width: 1.5rem;
    aspect-ratio: 1;
    fill: var(--clr-fg-main);

    &:hover {
        fill: var(--clr-accent);
        transform: scale(1.2);
    }
}


.round-button {
    border-radius: 5.0rem;
}

.bg-less-button {
    background-color: transparent;
}

.circle-button {
    padding: 0.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
}
